build/
cmake-build-*/
dashboard/dist/
dashboard/node_modules/
dashboard/vite.config.js
dashboard/vite.config.d.ts
*.tsbuildinfo
*.local
.env
.env.*
*.db
*.tmp
*.user
*.suo
*.obj
*.exe
*.ilk
*.pdb
*.vcxproj*
*.sln
